<a class="logo" href="/">
  <img src="_static/logo.svg" />
  <p>The J-RN</p>
</a>

<a href=".">
  <h2>{{ title }}</h2>
  <p class="blurb">{{ description }}</p>
</a>

{% if doi %}
<a href="https://dx.doi.org/{{ doi }}"><img class="lazy" data-src="https://img.shields.io/badge/DOI-{{ doi }}-eeeeee" /></a>
{% endif %}
{% if current_version %}
<a href="https://colab.research.google.com/github/{{ github_repository }}/blob/{{ current_version.name }}/index.ipynb"><img class="lazy" data-src="https://img.shields.io/badge/launch-colab-ffaaaa?logo=Google%20Colab" /></a>
<a href="https://mybinder.org/v2/gh/{{ github_repository }}/{{ current_version.name }}?filepath=index.ipynb"><img class="lazy" data-src="https://static.mybinder.org/badge_logo.svg?labelColor=aaffaa&color=ffaaaa" /></a>
{% endif %}
<a href="https://github.com/{{ github_repository }}"><img class="lazy" data-src="https://img.shields.io/badge/view-source-black?logo=GitHub" /></a>

{% if keywords %}
<p>Tags: {%- for keyword in keywords %}
<span class="tag">{{ keyword }}</span>
{%- endfor %}</p>
{% endif %}

<h3>Authors</h3>
&copy; {{ year }}
<ul>
{%- for author in authors %}
  <li>
    <div class="author">
      {%- if author.primary or author == authors[0] %}<i>{%- endif %}
      {{ author.lastname }}, {{ author.forenames }}
      {%- if author.primary or author == authors[0] %}</i>{%- endif %}
      <span class="author-meta">
        <div class="name">{{ author.lastname }}, {{ author.forenames }}</div>
        {%- if author.affiliation %}
        <div>{{ author.affiliation }}</div>
        {%- endif %}
        {%- if author.email %}
        <a href="mailto:{{ author.email }}"><img class="lazy" data-src="https://img.shields.io/badge/-email-eeeeee?style=social&logo=Mail.Ru"/></a>
        {%- endif %}
        {%- if author.orcid %}
        <a href="https://orcid.org/{{ author.orcid }}"><img class="lazy" data-src="https://img.shields.io/badge/-ORCID-eeeeee?style=social&logo=ORCID"/></a>
        {%- endif %}
        {%- if author.googlescholar %}
        <a href="https://scholar.google.co.uk/citations?user={{ author.googlescholar }}"><img class="lazy" data-src="https://img.shields.io/badge/-Google_Scholar-eeeeee?style=social&logo=Google%20Scholar"/></a>
        {%- endif %}
        {%- if author.github %}
        <a href="https://github.com/{{ author.github }}"><img class="lazy" data-src="https://img.shields.io/badge/-GitHub-eeeeee?style=social&logo=GitHub"/></a>
        {%- endif %}
      </span>
    </div>
  </li>
{%- endfor %}
</ul>
<a href="https://spdx.org/licenses/{{ copyright_text }}.html"><img class="lazy" data-src="https://img.shields.io/badge/text-{{ copyright_text | replace('-', '--') }}-eeeeee?labelColor=aaffaa" /></a>
<a href="https://spdx.org/licenses/{{ copyright_code }}.html"><img class="lazy" data-src="https://img.shields.io/badge/code-{{ copyright_code | replace('-', '--') }}-eeeeee?labelColor=aaaaff" /></a>

{% if editors %}
<h3>Editors</h3>
<ul>
{%- for author in editors %}
  <li>
    {{ author.lastname }}, {{ author.forenames }}
    {%- if author.github %}
    <a href="https://github.com/{{ author.github }}"><img class="lazy" data-src="https://img.shields.io/badge/-GitHub-eeeeee?style=social&logo=GitHub"/></a>
    {%- endif %}
  </li>
{%- endfor %}
</ul>
{% endif %}
